<mat-sidenav-container class="sidenav-container">

  
  <mat-sidenav-content>
    <!--mat-toolbar es el header  -->
    <mat-toolbar color="accent">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button>
          <!-- quitar el draw -->
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <img src="assets/img/logoDonaciones.webp" width="64" height="64">
      <!-- LA IMAGEN -->
      <span style="margin-left:10px;">Food Donation</span> <!-- Nombre de la pagina -->
      
    </mat-toolbar>
    <!--mat-toolbar es el header  -->
    <!-- Add Content Here -->
    <!-- <app-theme-switcher></app-theme-switcher> -->
    <div class="header">
    <!-- <div style="text-align:right;" class="header"> -->
      <button mat-raised-button class="button_header">Basic</button>
      <button color="accent" mat-raised-button class="button_header">Botón 1</button>
      <button color="warn" mat-raised-button style="margin-left:10px;">Botón 2</button>
      <button color="my-palette" mat-raised-button class="button_header">Botón 3</button>
      <button mat-raised-button class="button_header">Botón 4</button>
      <button mat-raised-button class="button_header">Botón 5</button>
    </div>
    <!-- <app-form></app-form> -->
    <!-- <app-vol-prueba></app-vol-prueba> -->
  </mat-sidenav-content>
</mat-sidenav-container>
