<mat-sidenav-container class="sidenav-container">
  <!--  -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <!-- visual lateral -->
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
    <!-- visual lateral -->
  </mat-sidenav>
  <!--  -->

  
  <mat-sidenav-content>
    <!--mat-toolbar es el header  -->
    <mat-toolbar color="accent">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <!-- quitar el draw -->
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <img src="assets/img/logoDonaciones.webp" width="64" height="64">
      <!-- LA IMAGEN -->
      <span>Food Donation</span> <!-- Nombre de la pagina -->
      
    </mat-toolbar>
    <!--mat-toolbar es el header  -->
    <!-- Add Content Here -->
    <!-- <app-theme-switcher></app-theme-switcher> -->
    <div class="header">
    <!-- <div style="text-align:right;" class="header"> -->
      <button mat-raised-button class="button_header">Basic</button>
      <button color="accent" mat-raised-button class="button_header">Botón 1</button>
      <button color="warn" mat-raised-button style="margin-left:10px;">Botón 2</button>
      <button color="my-palette" mat-raised-button class="button_header">Botón 3</button>
      <button mat-raised-button class="button_header">Botón 4</button>
      <button mat-raised-button class="button_header">Botón 5</button>
    </div>
    <app-form></app-form>
  </mat-sidenav-content>
</mat-sidenav-container>
